/* Facebook Hacks */

#globalContainer {
  top: 34px;
}

.stickyHeaderWrap {
  display: none !important;
}

._2t-d {
  min-width: 1016px;
}

._2s1x ._2s1y {
  border-bottom: 0px solid #1a3c82 !important;
}

body.timelineLayout #contentCol {
  margin-top: 20px;
}

/* Blurry and Hidden Posts */

.blurred-post {
  filter: blur(5px);
  opacity: .3;
}

.hidden-post {
  display: none;
}

.userContentWrapper:hover {
  filter: blur(0px) !important;
  opacity: 1 !important;
}

.blurred-posts-count {
  position: fixed;
  top: 43px;
  left: 0;
  z-index: 10;
  width: 100%;
  background: #325395;
  height: auto;
  padding: 6px;
  border-radius: 0px 4px 4px 0px;
  color: white;
  line-height: 14px;
  text-align: left;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.blurred-posts-count span {
  font-size: 17px;
  vertical-align: middle;
}

.btn:hover {
  cursor: pointer;
}

.govt {
  background: url("https://s3.amazonaws.com/nopolitics-public/government.svg") no-repeat;
  display: block;
  height: 27px;
  width: 27px;
  float: left;
  margin-right: 10px;
}

.cog {
  background: url("https://s3.amazonaws.com/nopolitics-public/cog.svg") no-repeat 10px 2px;
  display: block;
  float: left;
  margin-left: 38px;
  height: 28px;
  width: 37px;
  background-size: 60%;
  opacity: .8;
}

.cog-active {
  background: url("https://s3.amazonaws.com/nopolitics-public/cog-active.svg") no-repeat 10px 2px;
  display: block;
  float: left;
  margin-left: 38px;
  height: 28px;
  width: 37px;
  background-size: 60%;
  opacity: 1;
}

.cog:hover {
  opacity: 1;
  cursor: pointer;
}

.layout {
  width: 1032px;
  margin: 0 auto;
  line-height: 27px;
  text-align: left;
}

.blocked-posts-num {
  font-size: 12px !important;
  vertical-align: top !important;
}

.navbar-actions {
  float: right;
  margin-right: 18px;
  position: relative;
}

.navbar-actions a {
  color: white;
  text-decoration: none;
}

.noborder {
  border: 0px !important;
}

/* General */

input {
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/* Switch */

.switch {
	background: #fff;
	border-radius: 32px;
	display: block;
	height: 64px;
	position: relative;
	width: 160px;
  zoom: .3;
  background: rgb(24, 36, 61);
  margin-top: 10px;
  border-bottom: 1px solid rgb(59, 89, 152);
  float: left;
}

.switch:hover {
  cursor: pointer;
}

.switch label {
	color: #fff;
	font-size: 38px;
	font-weight: 600;
	line-height: 64px;
	text-transform: capitalize;;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	width: 100px;
}

.switch label:nth-of-type(1) {
	left: -75%;
	position: absolute;
	text-align: right;
}

.switch label:nth-of-type(2) {
	position: absolute;
  right: -75%;
	text-align: left;
}

.switch input {
	height: 64px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 160px;
	z-index: 2;
}

.switch input:hover {
  cursor: pointer;
}

.switch input:checked~label:nth-of-type(1) { color: #fff; }
.switch input:checked~label:nth-of-type(2) { color: #0d131f; }

.switch input~:checked~label:nth-of-type(1) { color: #0d131f; }
.switch input~:checked~label:nth-of-type(2) { color: #fff; }

.switch input:checked~.toggle {
	left: 0px;
}

.switch input~:checked~.toggle {
	left: 100px;
}

.switch input:checked {
	z-index: 0;
}

.toggle {
	background: #e9ebee;
	border-radius: 50%;
	height: 56px;
	left: 0;
	position: absolute;
	-webkit-transition: left .2s ease;
	-moz-transition: left .2s ease;
	-ms-transition: left .2s ease;
	-o-transition: left .2s ease;
	transition: left .2s ease;
	width: 56px;
	z-index: 1;
  border: 2px solid #e9ebee;
  top: 0px;
}

.tip {
  float: left;
  margin-left: 5px;
}

.tip:hover {
  cursor: pointer;
}

.tip span, .cog span {
  font-size: 16px;
  color: transparent;
  border-left: 1px solid #294174;
}

/* Cog Window */

.cog-window {
  background: white;
  max-height: 300px;
  height: auto;
  position: absolute;
  z-index: 9999;
  width: 208px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  border-radius: 4px;
  color: #333;
  padding: 16px 20px 16px 20px;
  line-height: 15px;
  text-align: center;
  display: none;
  right: 26px;
  top: 28px;
  padding-bottom: 0px;
  padding-top: 22px;
}

.cog-window input[type=text] {
  height: 25px;
  padding-left: 8px;
  margin-bottom: 6px;
  width: 186px;
  outline: none;
  margin-top: 4px;
  border: 1px solid #dfdfdf;
}

.cog-window input[type=text]:focus {
  border: 1px solid #4080ff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(64,128,255,.8);
  -moz-box-shadow: 0px 0px 5px 0px rgba(64,128,255,.8);
  box-shadow: 0px 0px 5px 0px rgba(64,128,255,.8);
}

.cog-window #add-btn {
  color: #5d92ff;
  position: absolute;
  right: 34px;
  top: 70px;
}

.cog-window ul {
  text-align: left;
  padding: 2px;
}

.cog-window li {
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 100%;
  width: 100%;
  float: left;
}

.cog-window li:last-of-type {
  padding-bottom: 10px;
}

.cog-title {
  font-size: 14px !important;
  color: #333333;
  margin-bottom: 2px;
  display: block;
}

.cog-subtitle {
  font-size: 12px !important;
  color: #999999;
  display: block;
  margin-bottom: 6px;
}

#list {
  overflow-y: scroll;
  max-height: 165px;
  height: auto;
  padding-left: 12px;
  padding-right: 36px;
  position: relative;
  left: -6px;
}

.refresh {
  padding: 8px 6px 8px 6px;
  background: #e9ebee;
  border-radius: 0px;
  color: #92969d;
  margin-bottom: 4px;
  margin-top: 2px;
}

.buttons {
  margin: 4px;
}

a.delete-btn {
  background: url("https://s3.amazonaws.com/nopolitics-public/delete-word.svg") no-repeat 10px 2px;
  display: inline-block;
  float: none;
  background-size: 100%;
  height: 12px;
  width: 12px;
  background-position: 0px 0px;
  opacity: .3;
  margin-left: -1px;
  vertical-align: -2px;
}

a.delete-btn:hover {
  opacity: .8;
}

.save {
  width: 96px;
  background: rgba(64, 128, 255,.9);
  display: block;
  float: left;
  padding: 10px 0px 10px 0px;
  border-radius: 4px;
  color: white;
  margin-bottom: 16px;
  margin-right: 2px;
}

.save:hover {
  cursor: pointer;
  background: rgba(64, 128, 255,1);
}

.reset {
  width: 98px;
  background: rgba(238, 83, 80, .9);
  display: block;
  float: left;
  padding: 10px 0px 10px 0px;
  border-radius: 4px;
  color: white;
  margin-bottom: 16px;
  margin-left: 2px;
}

.reset:hover {
  cursor: pointer;
  background: rgba(238, 83, 80, 1);
}

/* Tipping */

.tip-window {
  background: white;
  height: 142px;
  position: absolute;
  z-index: 9999;
  width: 100px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  border-radius: 4px;
  color: #333;
  padding: 16px 20px 16px 20px;
  line-height: 15px;
  text-align: center;
  display: none;
  right: -10px;
  top: 28px;
}

.tip-title {
  font-size: 14px !important;
  color: #333333;
  margin-bottom: 2px;
  display: block;
}

.tip-subtitle {
  font-size: 12px !important;
  color: #999999;
  display: block;
  margin-bottom: 6px;
}

.dollars a {
  font-size: 14px !important;
  color: #4080ff;
  width: 100%;
  display: block;
  padding: 2px 0px;
  text-decoration: none;
}

.dollars a:hover {
  color: #6b9dff;
  text-decoration: none;
}

.tip-contact {
  font-size: 10px !important;
  color: #999999;
  line-height: 12px;
  display: block;
  margin-top: 6px;
}

.tip-contact a {
  font-size: 10px !important;
  color: #999999;
  line-height: 12px;
  display: block;
  margin-top: 6px;
  text-decoration: underline;
  margin-top: 0px;
}

/* Cog Window Scrollbars */
#list::-webkit-scrollbar {
    width: 6px;
}

#list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5);
}

#list::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.6);
}
